body {
    font-family: Arial;
    text-align: center;
    background-color: #f5f7fa;
}

input, textarea {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.card {
    background: white;
    width: 400px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}